// PRIMARY

$soft-red: hsl(10, 79%, 65%);
$light-soft-red: hsl(10, 79%, 75%);
$cyan: hsl(186, 34%, 60%);
$light-cyan: hsl(186, 34%, 75%);

// NEUTRAL

$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$pale-orange: hsl(33, 100%, 98%);
